# Python
__pycache__/
*.py[cod]
*.so
.Python
env/
venv/
.venv/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Data
*.data
*.csv
datasets/raw/*


# Models
# Model checkpoints
training/checkpoints/
*.pt
*.pth
*.ckpt
*.bin
*.onnx

# Logs
*.log
logs/

# Environment
.env
*.env
